body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.keterangan {
  margin-top: 20px;
}
.keterangan table {
  font-size: 20px;
  width: 100%;
}
.keterangan table tr td:first-child {
  width: 30%;
  font-weight: bold;
}
.keterangan table tr td {
  padding: 5px 0;
}
@media (max-width: 440px) {
  .container {
    padding: 0 10px;
  }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .keterangan{
    background-color: rgba(0, 0, 0, 0.096);
    padding: 20px;
    border-radius: 9px;
  }
  .keterangan table {
    font-size: 17px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .keterangan table tr td {
    padding: 3px 0;
  }
}